.progress {
  height: 25px !important;
  color: #fca311 !important;
}
.skill-heading {
  color: #fca311;
  text-align: center;
  /* margin-top: 2rem; */
}
.left-half-skills {
  padding: 4rem;
  width: 100%;
}
.right-half-skills {
  padding: 0 4rem 4rem;
  width: 100%;
}
.skills {
  padding: 0 2rem 0;
  display: flex;
}

@media only screen and (max-width: 767px) {
  .left-half-skills {
    padding: 1rem;
    margin-top: 1rem;
  }
  .right-half-skills {
    display: none;
  }
  .skills {
    padding: 1rem;
  }
}
