.bg {
  background: #14213d;
}

.global-padding {
  padding-top: 80px;
}
.relative {
  position: relative !important;
}
.loader-bg {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.loader {
  width: 200px;
  height: 200px;
}
